<div class="lead-content-well">

<h1>Add Music to Brier Hill</h1>
&emsp;
<p>{{artist-name}}</p>
<br><br>
<form class="form-horizontal">
<fieldset>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="artist-name">Artist Name</label>  
  <div class="col-md-4">
  <input id="artist-name" name="artist-name" type="text" placeholder="" class="form-control input-md">
  <span class="help-block">What is the artist name?</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="record-label">Record Label</label>  
  <div class="col-md-4">
  <input id="record-label" name="record-label" type="text" placeholder="" class="form-control input-md">
  <span class="help-block">For ex: Columbia Records or Unsigned</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="artist-description">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="artist-description" name="artist-description"></textarea>
  <span class="help-block">For ex: Artist was founded by John Doe in Youngstown, OH around 1993.</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>


</div>
